---
import "../styles/global.css";
const {contentImage, contentImage2, contentTitle, contentDescription, imageCellWidth, contentCellWidth, imageCellOrder, contentCellOrder, backgroundColor, color,imageBgColor} = Astro.props

const gridClasses = {
    1:"sm:col-span-1",
    2:"sm:col-span-2",
    3:"sm:col-span-3",
    4:"sm:col-span-4",
    5:"sm:col-span-5",
    6:"sm:col-span-6",
    7:"sm:col-span-7",
    8:"sm:col-span-8",
    9:"sm:col-span-9",
    10:"sm:col-span-10"
}

const orderClasses = {
    1:"order-first",
    2:"order-last",
}

const imageOrder:string = orderClasses[imageCellOrder]
const contentOrder:string = orderClasses[contentCellOrder]

const imageSpan:string = gridClasses[imageCellWidth]
const contentSpan:string = gridClasses[contentCellWidth]
---
<div class="w-full py-20" style={{backgroundColor: backgroundColor}}>
    <div class="grid sm:grid-cols-12 grid-cols-1 gap-10 max-w-7xl px-4 mx-auto">
        <div class={`col-span-6 ${imageSpan}  flex flex-col items-center ${imageOrder} gap-6`}>
            <img src={contentImage} alt={contentImage} class="min-w-40 rounded-lg p-6" style={{backgroundColor:imageBgColor}}/>
            {contentImage2 && <img src={contentImage2} alt={contentImage2} class="min-w-40 rounded-lg p-6" style={{backgroundColor:imageBgColor}}/>}
        </div>
        <div class={`col-span-6 ${contentSpan}  flex flex-col gap-4 ${contentOrder} justify-start`}>
            <h3 class="text-3xl font-bold" style={{color}}>{contentTitle}</h3>
            <p class="text-pretty max-w-[70ch]" style={{color}}>{contentDescription}</p>
            <slot/>
        </div>
    </div>
</div>