---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";
const {folioImage, backgroundColor, title="default", link, projectRole} = Astro.props
---

<a href={link}>
    <div style={{backgroundColor}} class="min-w-40 min-h-96 rounded-lg focus:outnliene-none focus:ring-2 focus:ring-black group">
        <div class="flex flex-col gap-4 items-center content-center">
            <div class="flex flex-row justify-between p-4 w-full">
                <div class="flex flex-col gap-2 text-white">
                    <h3 class="text-xl font-bold">{title}</h3>
                    <p class="text-pretty">{projectRole}</p>
                </div>
                <div><span class="text-xl font-bold text-white">2025</span></div>
            </div>
            <div class="relative w-full h-full">
                <img src={folioImage} alt=`${title} project image` class="min-w-60 min-h-60 m-0 group-hover:m-10 trasnition duration-150 absolute top-[50%] left-[50%]">
            </div>
        </div>
    </div>
</a>