---
import "../styles/global.css";
type Props = {
  projectName: string;
  projectFocus: string;
  projectStack?: string;
  projectImage: string;
  projectDescription: string;
  projectLink?: string;
  linkDescription?: string;
};

const {
  projectName,
  projectFocus,
  projectStack,
  projectImage,
  projectDescription,
  projectLink,
  linkDescription
}: Props = Astro.props;
---

<div class="max-w-7xl flex flex-col gap-10 sm:px-4 px-4 mx-auto mt-16 mb-20">
  <div class="flex sm:flex-row flex-col justify-between gap-y-6">
    <div class="flex flex-col gap-2 items-left">
      <h2>Project Name</h2>
      <p class="font-bold">{projectName}</p>
    </div>
    <div class="flex flex-col gap-2 items-left">
      <h2>Focus</h2>
      <p class="font-bold">{projectFocus}</p>
    </div>
    <div class="flex flex-col gap-2 sm:items-right items-left">
      <h3 class="sm:text-right text-left">Tech Stack & Tools</h3>
      <p class="font-bold">{projectStack}</p>
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <img
      src={projectImage}
      alt={projectImage}
      width="1350"
      height='800"'
      class="rounded-lg"
    />
    <p class="text-lg text-pretty max-w-[70ch] gap-4">
      {projectDescription}
    </p>
    <a
      href={projectLink}
      target="_blank"
      class=`${projectLink  ? "inline-flex" : "hidden"} gap-2 max-w-50`
    >
      <p><strong>{linkDescription}</strong></p><svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.1445 13.6621V19.6621C18.1445 20.1925 17.9338 20.7012 17.5587 21.0763C17.1837 21.4514 16.675 21.6621 16.1445 21.6621H5.14453C4.6141 21.6621 4.10539 21.4514 3.73032 21.0763C3.35524 20.7012 3.14453 20.1925 3.14453 19.6621V8.66211C3.14453 8.13168 3.35524 7.62297 3.73032 7.2479C4.10539 6.87282 4.6141 6.66211 5.14453 6.66211H11.1445"
          stroke="var(--text)"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M15.1445 3.66211H21.1445V9.66211"
          stroke="var(--text)"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M10.1445 14.6621L21.1445 3.66211"
          stroke="var(--text)"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
</div>
