---
import "../styles/global.css";
const {projectName, projectRole, projectDate, projectImage, projectDescription} = Astro.props
---

<div class="max-w-7xl flex flex-col gap-10 sm:px-4 px-4 mx-auto my-6 ">
    <div class="flex sm:flex-row flex-col justify-between gap-y-6">
        <div class="flex flex-col gap-2 items-left">
            <h3>-Project Name</h3>
            <p class="font-bold">{projectName}</p>
        </div>
        <div class="flex flex-col gap-2 items-left">
            <h3>-Role</h3>
            <p class="font-bold">{projectRole}</p>
        </div>
        <div class="flex flex-col gap-2 sm:items-right items-left">
            <h3 class="sm:text-right text-left">-Date</h3>
            <p class="font-bold">{projectDate}</p>
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <img src={projectImage} alt={projectImage} class="rounded-lg">
        <p class="text-lg max-w-[70ch]">{projectDescription}</p>
    </div>

</div>